# Python
*.pyc
*.pyo
/Cali_SMS_Backend/API/migrations/*.py
/Cali_SMS_Backend/Api/Migrations/backup/
*.pyd
*.pyc
*.pyo
*.db
*.sqlite
*.log
*.pot
cali-frontend/node_modules/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.pyc
*.pyo
*.pyd


# Django migration files
**/migrations/*.py
**/migrations/*.pyc

**/management/*.
**/management/*.pyc
**/migrations/.log
**/migrations/*.pyc

/venv/