.dashboard-page{
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .dashboard-page-intro{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    color: #4F4F4F;
    padding: 20px;
    text-align: center;
  }

  .dashboard-page-sections{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dashboard-page-section-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .dashboard-page-section-item-icon{
      color: #13296A;
      background-color: #EFF3FA;
      border-radius: 5px;
      padding: 6px;
      width: 24px;
      height: 24px;
    }

    .dashboard-page-section-item-button {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      span{
        background-color: white;
        border: none;
        font-family: Roboto, sans-serif;
        font-size: 28px;
        color: #4F4F4F;
        text-align: left;
        font-weight: 500;
      }

      span:hover {
        cursor: pointer;
      }

      p{
        text-align: left;
        margin: 16px 0;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        color: #4F4F4F;
      }
    }
  }

  p{
    margin-left: 38px;
  }
}