/* .main{
    height: fit-content;
    display: flex;
    
}
 form{
    width: 20%;
    display: block;
    border: 1px solid black; 


.reportcontent{
    width: fit-content;
    background-color: rgba(172, 231, 231, 0.103);
    border: 2px solid red;
    width: fit-content;
    overflow: scroll;
} */
